<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomList</title>
</head>
<body>
<ul>
    <li>room name, seat number, is free, modify room, delete room, book room</li>
        {% for room in rooms %}
        <li>
        <a href="room/{{ room.id }}/">{{ room.name }}</a>
        {{ room.seat_number }}
        Free
        <a href="/room/modify/{{ room.id }}/"><input type="button" value="modify"></a>
        <a href="/room/delete/{{ room.id }}/"><input type="button" value="delete"></a>
        <a href="/room/reserve/{{ room.id }}/"><input type="button" value="book"></a>
        </li>
    {% endfor %}
</ul>
</body>
</html>